.table
{
    width: 100%;
}
.main-table
{
    display: grid;
    background-color: rgb(18, 88, 0);
    height: 500px;
    margin: 80px;
    border: 15px solid black;
}
.main-table button
{
    width: 100px;
    height: 50px;
    border-radius: 40%;
    margin: 10px;
}

